[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[project]
name = "{{ package_name }}"
version = "0.1.0"
readme = "README.md"
requires-python = ">={{ python_version }}"
dependencies = []

[tool.hatch.build.targets.wheel]
packages = ["src/{{ package_name }}"]

[tool.poe]
include = "poe_tasks.toml"

[dependency-groups]
dev = [
    "ruff",
    "pyright",
    "pytest",
    "pytest-cov",
    "pytest-bdd",
    "pytest-testmon",
    "poethepoet",
]
